<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<a href="http://localhost:8000/homeapp/contactus">Contact us</a>&nbsp;
<a href="http://localhost:8000/homeapp/setting">Setting</a>&nbsp;
<a href="http://localhost:8000/homeapp/profile">Profile</a>&nbsp;
<h1><center>Welcome to Contact us page</center></h1><br><br><font color="blue",face="Arial">Contact us</font><br><br><table border="2" cellspacing="2"><th>Name </th><th>Address</th><th>Phone-no</th><tr><td>Archana</td><td>Agra</td><td>9930959676</td></tr></table>
</body>
</html>