<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head><link rel= 'stylesheet'  href="style.css">
    <meta charset="utf-8">
    <title>Settings of Profileapp</title>
  </head>
  <body>
    <div class= "main">
          <div class= "logo">
            <img src="logo.png">
          </div>
          <nav>
            <a href="www.google.com">Search</a>
            <a href="www.shankaranetralaya.com>Shankar Netralaya"</a>
            <a href="http://localhost:8000/profileapp/ContactPerson">Settings</a>
           <a href="http://localhost:8000/profileapp/Information/">Info</a>
          </nav>
          <div class ="menubtn">
            <button>Helpline</button>
          </div>
    </div>
<main>
  <section class="leftsec">We are here for Showing good Profiles on this Webpage</<section>
  <section class ="rightsec"> <fig><img src="{{}}"></fig>
  </section>
</main>
    <span class="s"><marquee>Go through our Website for Finding best Profiles</marquee></span>


  </body>
</html>
