<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
</head>
<body>

<a href="http://localhost:8000/homeapp/contactus">Contact us</a>&nbsp;
<a href="http://localhost:8000/homeapp/setting">Setting</a>&nbsp;
<a href="http://localhost:8000/homeapp/profile">Profile</a>&nbsp;
<center><h1>Welcome to Setting of Homeapp</h1></center><br><br>
<section><b>Settings of Homeapp are here.</b></section><br><br>
<ol><li>Color &nbsp;&nbsp;<input type="text"></li><li>Sound &nbsp;&nbsp;<input type="text"></li> <li>Bandwidth &nbsp;&nbsp;<input type="text"> </li></ol>
</body>
</html>